body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

#piano {
    display: flex;
    position: relative;
    bottom: -192px;
}

.key {
    height: 200px;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.white {
    width: 50px;
    background: white;
    z-index: 1;
}

.black {
    width: 30px;
    height: 120px;
    background: black;
    position: absolute;
    margin-left: -15px;
    z-index: 2;
    color: white;
}

.key:active, .key.active {
    background-color: #ddd;
    transform: scale(0.98);
}

.black:active, .black.active {
    background-color: #333;
}

[data-note="C#"] {left: 50px;}
[data-note="D#"] {left: 101px;}
[data-note="F#"] {left: 203px;}
[data-note="G#"] {left: 255px;}
[data-note="A#"] {left: 307px;}

#note-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.falling-note {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    animation: fall 3s linear;
}

@keyframes fall {
    from { top: -30px; }
    to { top: 100%; }
}

#score {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
}